/* css reset */
* {
  margin: 0;
  padding: 0;
  /* border: #000 1px solid; */
  /* width:100% */

}

/* general */
/* .grid-container{
  display: grid;
} */

/* Home Page */
#login {
  text-align: center;
}

.form-input {
  margin-top: 20px;
  margin-bottom: 20px;
}

nav {
  display: flex;
  background-color: #5c9ead;
  justify-content: flex-end;
}

nav a {
  background-color: #eeeeee;
  padding: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #e39774;
}

/* tr{

  height:50px;
} */

td{
  /* width: 20%; */
  height: 140px;
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  text-align: center;
}

th{
  width: 300px;
  height: 60px;
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  border-top: #000000 1px solid;
  text-align: center;
  color:blue;
  font-weight: 600;
}
#employee-submit-form{
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 5px;
  padding-left:20px;
  border: #000000 solid 1px;
  display: inline-block;
  background-color: #5c9ead ;
}
.employee-submit-form-div{
  height:40px;
  /* padding-left:20px; */
  padding-top: 5px;
}
/* input, button{

} */


/* employee page */
/* .employee-grid-container {
  display: grid;
  grid-template-areas: "e-table e-table e-table e-form";

} */

.employee-grid-container #employee-reimbursements-table {
  grid-area: a-table;
    /* display:flex;
  justify-content: center; */
}

.employee-grid-container #employee-submit-form {
  grid-area: a-form;
}
